body{
	background-color: black;
	text-align: center;
}

h1{
	font-family: Verdana, Times, serif;
	color: red;
}

button {
    background-color: #4CAF50;
    border: none;
    border-radius: 15px; 
    color: white;
    padding: 5px 15px;
    text-align: center;
    font-size: 16px;
    margin: 2px 2px;
}

button:disabled{
	opacity: 0.5;
}

input{
	background-color: white;
    border: none;
    border-radius: 15px; 
    color: black;
    padding: 5px 15px;
    text-align: center;
    font-size: 16px;
    margin: 2px 2px;
}